In [1]:
%load_ext autoreload
%autoreload 2

import sys, os
sys.path.append("/".join(os.getcwd().split("/")[:-2]) + "/")

## INSEE

### Communes

In [2]:
from katalogue.insee.communes import DépôtINSEECommunes

dépôt = DépôtINSEECommunes()
communes = dépôt.communes()
communes.sample(5)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
19791,COM,51112,44.0,51,51D,513,0,CHAMERY,Chamery,Chamery,5109,NaN
16467,COM,41160,24.0,41,41D,411,0,NEUVY,Neuvy,Neuvy,4105,NaN
30384,COM,71443,27.0,71,71D,712,0,SAINT LOUP GEANGES,Saint-Loup-Géanges,Saint-Loup-Géanges,7116,NaN
20981,COM,53131,52.0,53,53D,533,0,LESBOIS,Lesbois,Lesbois,5307,NaN
30436,COM,71497,27.0,71,71D,715,0,SANCE,Sancé,Sancé,7121,NaN

## Sirene

In [3]:
from katalogue.insee.sirene_entreprises import DépôtINSEESireneEntreprises

dépôt = DépôtINSEESireneEntreprises()
dépôt.entreprises(nombre_maximum_entreprises=100)

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5441597,O,True,NaN,NaN,M,JEAN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,64.45,NAP,19,NaN,NaN,N
96,5441613,O,True,NaN,NaN,F,M,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,62.44,NAP,14,NaN,NaN,N
97,5441621,O,True,NaN,NaN,F,HENRIETTE,EPS,BOREL,NaN,...,NaN,NaN,NaN,1000,00.97,NAP,17,NaN,NaN,N
98,5441662,O,True,NaN,NaN,M,JEAN,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,62.11,NAP,11,NaN,NaN,N
99,5450010,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5499,00.97,NAP,11,NaN,NaN,N

In [4]:
entreprises_de_maraichage = dépôt.entreprises_avec_codes_activite(["01.13Z"], nombre_maximum_entreprises=200)
entreprises_de_maraichage

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
21802,24047151,O,NaN,1998-01-01,COOPAM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,01.13Z,NAFRev2,14,O,NaN,O
23174,24082612,O,NaN,2003-04-08,NaN,M,DJANFAR,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,29,NaN,NaN,N
23271,24084824,O,NaN,2003-07-23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6597,01.13Z,NAFRev2,10,NaN,NaN,N
23423,25470642,O,NaN,1954-01-01,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,15,NaN,NaN,N
35023,36813095,O,NaN,1968-01-01,NaN,M,RAYMOND,VICTOR,LOUIS,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,19,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721548,306999368,O,NaN,1987-12-31,NaN,M,JEAN,PAUL,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,13,NaN,NaN,N
721725,307002865,O,NaN,1985-05-02,NaN,F,MARIE,JOSEPH,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,45,NaN,NaN,N
723006,307027029,O,NaN,1900-01-01,NaN,M,BERNARD,NaN,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,15,NaN,NaN,N
724202,307050112,O,NaN,1987-12-31,NaN,M,JEAN,CLAUDE,NaN,NaN,...,NaN,NaN,NaN,1000,01.13Z,NAFRev2,19,NaN,NaN,N
724609,307057885,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2210,01.13Z,NAFRev2,13,NaN,NaN,N

In [5]:
coopératives_agricoles = dépôt.entreprises_avec_codes_categorie_juridique([6317], nombre_maximum_entreprises=10)
coopératives_agricoles

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
221,5520119,O,NaN,1955-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,L'ABBEVILLOISE,NaN,NaN,6317,51.2A,NAF1993,24,NaN,NaN,N
945,5750500,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,62.12,NAP,18,NaN,NaN,N
14070,16650913,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,51.2A,NAF1993,11,NaN,NaN,N
21802,24047151,O,NaN,1998-01-01,COOPAM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,01.13Z,NAFRev2,14,O,NaN,O
22302,24060733,O,NaN,1999-11-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,43.99C,NAFRev2,11,O,NaN,O
28402,27150184,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,57.04,NAP,29,NaN,NaN,N
142509,71201594,O,NaN,1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,46.31Z,NAFRev2,42,O,NaN,O
146333,72802614,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,59.04,NAP,15,NaN,NaN,N
172057,99382152,O,NaN,1997-04-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,23.32Z,NAFRev2,17,O,NaN,O
354116,300016136,O,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6317,36.10,NAP,16,NaN,NaN,N

## FAO

### Récoltes

In [6]:
from katalogue.fao.récoltes import DépôtFAORécoltes

dépôt = DépôtFAORécoltes()
récoltes = dépôt.récoltes()

### Commerce

In [ ]:
from katalogue.fao.commerce import DépôtFAOCommerce

dépôt = DépôtFAOCommerce()
commerce = dépôt.commerce()

In [50]:
commerce.sample(3)

,code_pays_déclarant,code_pays_déclarant_(m49),pays_déclarants,code_pays_partenaire,code_pays_partenaire_(m49),pays_partenaires,code_produit,code_produit_(cpc),produit,code_élément,élément,code_année,année,unité,valeur,symbole
11206774,27,'100,Bulgarie,54,'208,Danemark,252,'2166,Huile de coco,5610,Importations - Quantité,2014,2014,tonnes,1.0,A
1850855,46,'178,Congo,32,'120,Cameroun,20,'F0020,Pain,5610,Importations - Quantité,2013,2013,tonnes,1.0,A
31991047,11,'040,Autriche,221,'512,Oman,1276,'34120,Acides gras monocarboxyliques industriels; hui...,5910,Exportations - Quantité,2004,2004,tonnes,1.0,A

## Data Gouv

### Associations

In [2]:
from katalogue.datagouv.associations import DépôtDataGouvAssociations

In [3]:
dépôt = DépôtDataGouvAssociations()
assos = dépôt.associations(sauvegarder_localement=True)

Lecture sauvegarde existante  /home/laurent/.katalogue/datagouv/locale_DépôtDataGouvAssociations_associations.pkl

In [4]:
assos

,id,titre,objet,objet_social1,objet_social2,date_creat,adrs_codeinsee,adrs_codepostal,titre_court,date_disso,objet_social_parent_id,objet_social_parent_lib,objet_social_lib,objet_social_parent_id_2,objet_social_parent_lib_2,objet_social_lib_2
0,9G1P9711000010,ASSOCIATION L'ETOILE BRILLANTE.,Developpement instruction physique de la jeune...,11000.0,11105.0,NaT,97129,97115,NaN,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","SPORTS, ACTIVITÉS DE PLEIN AIR",11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","gymnastique (gymnastique, gymnastique d.entre..."
1,9G1P9711000011,AMICALE RESSERRER LES LIENS D'AMITIE ENTRE SES...,O,15070.0,0.0,NaT,97105,97100,NaN,NaT,15000.0,ÉDUCATION FORMATION,"amicales, associations d'anciens étudiants, d'...",NaN,NaN,NaN
2,9G1P9711000012,CLUB LA CONSTITUTION PHYSIQUE DE SES MEMBRES P...,O,11005.0,11400.0,NaT,97105,97100,NaN,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR",associations multisports locales,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR",activités de plein air (dont saut à l'élastique)
3,9G1P9711000013,CLUB L'INTREPID-CLUB,Developpement education physique par le sport ...,11000.0,11105.0,NaT,97129,97115,NaN,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","SPORTS, ACTIVITÉS DE PLEIN AIR",11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","gymnastique (gymnastique, gymnastique d.entre..."
4,9G1P9711000016,AMICALE DES POILUS DE LA GUADELOUPE AIDE AUX O...,O,0.0,0.0,NaT,97105,97100,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197867,W123005801,MAM : LE NUAGE DE DOUCEUR,regrouper trois assistantes maternelles agréée...,21005.0,0,2022-10-06,12008.0,12390.0,MAM : LE NUAGE DE DOUCEUR,NaT,21000.0,"SERVICES FAMILIAUX, SERVICES AUX PERSONNES ÂGÉES","crèches, garderies, haltes garderies",NaN,NaN,NaN
3197868,W123005802,NOSPORTSCLUB,pratiquer des activités physiques et sportives...,11105.0,11045,2022-10-10,12258.0,12440.0,NSC,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","gymnastique (gymnastique, gymnastique d.entre...",11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","danse sportive (danse sportive, hip hop, claqu..."
3197869,W123005803,CLUB AVENTURE CANIN,promouvoir l'éducation canine par le biais de ...,7000.0,0,2022-10-17,12210.0,12270.0,CLUB AVENTURE CANIN,NaT,7000.0,"CLUBS DE LOISIRS, RELATIONS","CLUBS DE LOISIRS, RELATIONS",NaN,NaN,NaN
3197870,W123005804,FR RALLYE TEAM,"promouvoir la pratique du sport automobile, de...",11160.0,0,2022-10-19,12052.0,12700.0,FR RALLYE TEAM,NaT,11000.0,"SPORTS, ACTIVITÉS DE PLEIN AIR","sports mécaniques (sport automobile, moto, tr...",NaN,NaN,NaN
3197871,W123005805,MOBILITÉS AVEYRONNAISES,favoriser des actions de mobilités durables po...,24050.0,0,2022-10-24,12083.0,12110.0,MOBILITES AVEYRONNAISES,NaT,24000.0,"ENVIRONNEMENT, CADRE DE VIE",actions de sensibilisation et d'éducation à l'...,NaN,NaN,NaN

## Gutemberg

In [5]:
from katalogue.gutemberg.livres import DépôtGutembergLivres

dépôt = DépôtGutembergLivres()
catalogue = dépôt.catalogue()
catalogue.sample(3)

,livre_id,type,issued,title,language,authors,subjects,locc,bookshelves
992,1011,Text,1997-08-01,La Divina Commedia di Dante: Paradiso,it,"Dante Alighieri, 1265-1321","Italian poetry -- To 1400; Epic poetry, Italian",PQ,IT Poesia
45958,46032,Text,2014-06-19,Vitus Bering: the Discoverer of Bering Strait,en,"Lauridsen, Peter, 1846-1923; Schwatka, Frederi...","Bering, Vitus Jonassen, 1681-1741; Kamchatskai...",G,NaN
1561,1583,Text,1998-12-01,Options,en,"Henry, O., 1862-1910","Fiction; Short stories, American",PS,NaN

In [6]:
texte = dépôt.livre(7470)

In [7]:
print(texte[3000:5000])

ding
reigns. Ferdinand and Isabella occasionally set up their pilgrim
tabernacle on the declivity that overhangs the Manzanares. Charles V.
found the thin, fine air comforting to his gouty articulations. But
Philip II. made it his court. It seems hard to conceive how a king who
had his choice of Lisbon, with its glorious harbor and unequalled
communications; Seville, with its delicious climate and natural beauty;
and Salamanca and Toledo, with their wealth of tradition, splendor of
architecture, and renown of learning, should have chosen this barren
mountain for his home, and the seat of his empire. But when we know this
monkish king we wonder no longer. He chose Madrid simply because it was
cheerless and bare and of ophthalmic ugliness. The royal kill-joy
delighted in having the dreariest capital on earth. After a while there
seemed to him too much life and humanity about Madrid, and he built the
Escorial, the grandest ideal of majesty and ennui that the world has
ever seen. This vast mass of granite has somehow acted as an anchor that
has held the capital fast moored at Madrid through all succeeding years.

It was a dreary and somewhat shabby court for many reigns. The great
kings who started the Austrian dynasty were too busy in their world
conquest to pay much attention to beautifying Madrid, and their weak
successors, sunk in ignoble pleasures, had not energy enough to indulge
the royal folly of building. When the Bourbons came down from France
there was a little flurry of construction under Philip V., but he never
finished his palace in the Plaza del Oriente, and was soon absorbed in
constructing his castle in cloud-land on the heights of La Granja. The
only real ruler the Bourbons ever gave to Spain was Charles III., and to
him Madrid owes all that it has of architecture and civic improvement.
Seconded by his able and liberal minister, Count Aranda, who was
educated abroad, and so free from the trammels of Spanish ignorance and
superstition, he rapidly change